rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /trainCrowd/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create, update: if request.auth != null && request.auth.uid == userId
        && request.resource.data.trainNumber is string
        && request.resource.data.lat is number
        && request.resource.data.lng is number;
      allow delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
